{{#each articles}}
<div class="article card" id={{this._id}}>
	<div class="card-header" >
		<a href="{{this.link}}" target="_blank">{{this.title}}</a>

	</div>
	<div class="card-block">
		<p class="summary card-text">{{this.summary}}</p>

		{{#unless this.note}}
		<button type="button" class="note btn btn-sm" value="{{this._id}}">Add A Note</button>
		{{/unless}}
		{{#if this.note}}
		<button type="button" class="note btn btn-sm" value="{{this._id}}">Edit Note</button>
		{{/if}}
	</div>
</div>
{{/each}}


